<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
import * as apps from "./assets/apps.js";
export default {
  name: "App",
  data() {
    return {};
  },
  watch: {
    $route: {
      handler: (to, from) => {
        document.title = to.meta.title || "Title";
        apps.bodyClass(to.meta.bodyclass);
      },
      immediate: true
    }
  },
  created() {}
};
</script>

<style lang="scss">
@import "../node_modules/bootstrap/scss/bootstrap";
@import "@/assets/default.scss";
@import "@/assets/landing/css/style.scss";
@import "@/assets/tarumanegara/css/style.scss";
@import "../node_modules/aos/dist/aos.css";
#ssb {
  width: 100%;
  height: 100vh;
}
</style>
