.flex {
  &-container {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    align-items: center;
    color: red;
    display: flex;
    font-size: 2rem;
    flex: 1;
    height: 200px;
    justify-content: center;
  }
}
.landing {
  > .flex-item {
    &:nth-child(1) {
      background-color: rgb(242, 201, 99);
    }
    &:nth-child(2) {
      background-color: rgb(77, 70, 55);
    }
    &:nth-child(3) {
      background-color: rgb(180, 170, 153);
    }
    &:nth-child(4) {
      background-color: rgb(0, 203, 171);
    }
  }
}
.first {
  > .flex-item {
    &:nth-child(1) {
      background-color: rgb(114, 184, 66);
    }
    &:nth-child(3) {
      background-color: rgb(129, 152, 110);
    }
    &:nth-child(2) {
      background-color: rgb(245, 251, 240);
    }
    &:nth-child(4) {
      background-color: rgb(246, 237, 217);
    }
  }
}
.second {
  > .flex-item {
    &:nth-child(1) {
      background-color: #F2C963;
    }
    &:nth-child(2) {
      background-color: #A28E65;
    }
    &:nth-child(3) {
      background-color: #FFF8EC;
    }
    &:nth-child(4) {
      background-color: #DFE0DF;
    }
  }
}