@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Dosis&display=swap');

$landing_color_1: #F2C963;
$landing_color_2: #4D4637;
$landing_color_3: #B4AA99;
$landing_color_4: #00CBAB;

$tarumanegara_color_1: #00a8cc;
$tarumanegara_color_2: #0c7b93;
$tarumanegara_color_3: #27496d;
$tarumanegara_color_4: #142850;

$buantex_color_1: #72b842;
$buantex_color_2: #81986E;
$buantex_color_3: #F5FBF0;
$buantex_color_4: #F6EDD9;

$font_bebas: 'Bebas Neue', cursive;
$font_dosis: 'Dosis', sans-serif;

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $font_dosis;
  font-size: 20px;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font_bebas;
  margin-bottom: 0;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}
#app {
  min-height: 100vh;
}
.page {
  &-header {
    padding: 4rem 15px;
    h1 {
      font-size: 2em;
    }
    &.board {
      padding: 2rem 15px;
    }
  }
}

.page-container {
  min-height: 100vh;
  width: 100%;
}
.page-main {
  flex: 1;
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(255,255,255,.2);
  }
}
.page-container>.container-fluid>.row {
  flex-direction: column;
}
.page-main,
.page-main>.container-fluid,
.page-container>.container-fluid,
.page-main>.container-fluid>.row,
.page-container>.container-fluid>.row {
  height: 100%;
}
button {
  &:hover,
  &:focus,
  &:active {
    outline: 0!important;
  }
}
@mixin flex-grow($flex-grow) {
  flex-grow: $flex-grow
}
.btn {
  font-family: $font_bebas;
  &-primary {
    background-color: $tarumanegara_color_1!important;
    border-color: $tarumanegara_color_1!important;
    &:focus,
    &:hover,
    &:active {
      box-shadow: 0 0 0 0.2rem rgba(114, 184, 66, 0.5)!important;
    }
  }
}