<template>
  <div class="container page">
    <section class="page-item banner">
      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li
              class="glide__slide"
              :style="'background-image: url('+baseUrl+'/uploads/services/DSCF4309.JPG);'"
            ></li>
            <li
              class="glide__slide"
              :style="'background-image: url('+baseUrl+'/uploads/services/DSCF4316.JPG);'"
            ></li>
            <li
              class="glide__slide"
              :style="'background-image: url('+baseUrl+'/uploads/services/DSCF4323.JPG);'"
            ></li>
            <li
              class="glide__slide"
              :style="'background-image: url('+baseUrl+'/uploads/services/DSCF4330.JPG);'"
            ></li>
            <li
              class="glide__slide"
              :style="'background-image: url('+baseUrl+'/uploads/services/DSCF4681.JPG);'"
            ></li>
            <li
              class="glide__slide"
              :style="'background-image: url('+baseUrl+'/uploads/services/DSCF4685.JPG);'"
            ></li>
          </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
        </div>
      </div>
    </section>
    <section class="page-item tarumanegara" :style="'background-image: url('+baseUrl+'/uploads/landing/bumiyasa.jpg);'">
      <router-link to="/bumiyasa/home" class="page-content">
        <div class="page-img">
          <img :src="baseUrl+'/uploads/settings/small-bumiyasa.png'" width="174" alt />
        </div>
      </router-link>
    </section>
    <section class="page-item buantex" :style="'background-image: url('+baseUrl+'/uploads/landing/buanatek.jpg);'">
      <router-link to="/buanatek/home" class="page-content">
        <div class="page-img">
          <img :src="baseUrl+'/uploads/settings/logo-buanatek.jpeg'" alt />
        </div>
      </router-link>
    </section>
  </div>
</template>

<script>
import Glide from "@glidejs/glide";

export default {
  name: "Landing",
  data() {
    return {
      baseUrl: this.$baseUrl,
    };
  },
  mounted() {
    const glide = new Glide(".glide", {
      type: "carousel",
      startAt: 0,
      perView: 1,
      breakpoints: {
        768: {
          perView: 1
        }
      }
    });

    glide.mount();
  }
};
</script>

<style lang="scss">
</style>