// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .landing {
    overflow: hidden;
    .page {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 100%;
      &-item {
        &:first-of-type {
          grid-column-start: 1;
          grid-column-end: 3;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}