@import '../../../../node_modules/@glidejs/glide/src/assets/sass/glide.core.scss';
@import '../../../../node_modules/@glidejs/glide/src/assets/sass/glide.theme.scss';

.landing {
  overflow-x: hidden;
  overflow-y: auto;
}
.landing {
  .glide,
  .glide__wrapper,
  .glide__track,
  .glide__slides {
    height: 100%;
  }
  .glide {
    &__arrows {
      height: auto;
      position: absolute;
      top: 50%;
      width: 100%;
    }
    &__slide {
      background: {
        repeat: no-repeat;
        size: cover;
        position: center;
      }
      position: relative;
      &::before {
        background: rgba(0,0,0,.4);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0!important
  }
  .page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-template-columns: unset;
    height: auto;
    &-content {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }
    &-item:not(.banner) {
      position: relative;
      &:hover {
        &::before {
          background-color: red!important;
        }
      }
    }
    &-img {
      text-align: center;
      width: 100%;
      z-index: 1;
      overflow: hidden;
    }
    .banner {
      width: 100%;
    }
    .tarumanegara {
      &::before {
        background-color: $tarumanegara_color_1;
      }
    }
    .buantex {
      &::before {
        background-color: $buantex_color_1;
      }
    }
    .page-item {
      background: {
        repeat: no-repeat;
        size: cover;
        position: center;
      }
      height: 50vh;
      img {
        max-width: 100%;
      }
      &::before {
        background-blend-mode: multiply;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0.6;
        position: absolute;
        top: 0;
        transition: background-color .5s;
        width: 100%;
      }
    }
  }
}
@import 'landing_mobile'