.filter {
  .title-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

  .title {
      font-size:30pt;
      font-weight:normal;
  }

  .project-title {
  font-size:16pt;
  display: flex;
  align-items: flex-end;
  }

  .filter {
    margin: 0px 6px;
    padding: 6px 0;
    cursor:pointer;
    transition: all 0.35s;
    position: relative;
    &::after {
      content: "";
      background: #333333;
      bottom: -7px;
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
      opacity: 0;
      transition: all .5s;
    }
    &.active, &:hover {
      &::after {
        bottom: 0;
        opacity: 1;
      }
    } 
  }


  .projects {
      margin-bottom:50px;
      margin-top:25px;
      display:flex;
      flex-wrap:wrap;
      justify-content:center;
  }

  .projects-enter {
      transform: scale(0.5) translatey(-80px);
      opacity:0;
  }

  .projects-leave-to{
      transform: translatey(30px);
      opacity:0;
  }

  .projects-leave-active {
      position: absolute;
      z-index:-1;
  }

  .circle {
      text-align:center;
      position:absolute;
      bottom:-38px;
      left:40px;
      width:100px;
      height:100px;
      border-radius:50px;
  /*  border:1px solid black; */
      display:flex;
      box-shadow: 0px -4px 3px 0px #494d3257;
      justify-content:center;
      align-items:center;
      background-color:#fff;
  /*  box-shadow:0px -3px 3px #484848a6; */
  }

  .project {
      transition: all .35s ease-in-out;
      margin:10px;
      border-radius:3px;
      width:50vw;
      height:200px;
      display:flex;
      flex-direction:column;
      align-items:center;
  }

  .project-image-wrapper {
      position:relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: space-between;
      > * {
          flex: 1 1 auto;
      }
  }

  .gradient-overlay {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:150px;
      opacity:0.09;
      background: 
          linear-gradient(to bottom, rgba(0,210,247,0.65) 0%,rgba(0,210,247,0.64) 1%,rgba(0,0,0,0) 100%), 
          linear-gradient(to top, rgba(247,0,156,0.65) 0%,rgba(247,0,156,0.64) 1%,rgba(0,0,0,0) 100%);
      border-bottom-left-radius:10px;
      border-bottom-right-radius:10px;
      border-top-left-radius:3px;
      border-top-right-radius:3px;
  }

  .project-image {
      display: flex;
      align-items: center;
      height: 150px;
  }
}