$hamburger-layer-width         : 30px;
$hamburger-layer-color         : $tarumanegara_color_3;

@import '../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers';

.navigation {
  background: $tarumanegara_color_1;
  display: flex;
  height: 60px;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 99;
  &.buanatek {
    background: $buantex_color_1;
    .hamburger {
      &-inner {
        background-color: $buantex_color_3;
        &::before, &::after {
          background-color: $buantex_color_3;
        }
      }
    }
  }
}
#navigation {
  background: $tarumanegara_color_1;
  position: fixed;
  height: calc(100vh - 60px);
  left: unset;
  top: -100%;
  width: 100%;
  transition: all .5s;
  &.enter {
    left: unset;
    top: 60px;
  }
  &.buanatek {
    background: $buantex_color_1;
    nav {
      a {
        color: $buantex_color_3;
        transition: color .5s;
        &:hover {
          color: white;
        }
        &:after {
          background-color: $buantex_color_3;
        }
      }
    }
  }
}
#navigation>.container-fluid,
#navigation>.container-fluid>.row,
#navigation>.container-fluid>.row>.col,
#navigation nav {
  height: 100%;
}
#navigation nav {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  a {
    color: $tarumanegara_color_4;
    font-family: $font_bebas;
    font-size: 2.4rem;
    position: relative;
    &:hover {
      &::after {
        bottom: -7px;
        opacity: 1;
        transition: all .5s;
      }
    }
    &::after {
      bottom: -2px;
      left: 0;
      position: absolute;
      content: '';
      width: 100%;
      height: 7px;
      background-color: $tarumanegara_color_4;
      opacity: 0;
      transition: all .5s;
    }
    &:hover {
      text-decoration: none;
    }
  }
}
.brand {
  height: 60px;
  > img {
    height: 100%;
    max-width: 100%;
  }
}
#socmed {
  display: none;
}
.hamburger,
.brand {
  z-index: 101;
}
.lang {
  position: relative;
  top: 8px;
  left: 0;
  z-index: -1;
  width: 140px;
  ul, li {
    list-style-type: none;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
  .img-rounded {
    border-radius: 50%;
  }
  &-selector, &-list {
    background: white;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 20px;
  }
  
  &-selector {
    padding: 5px 10px 5px 5px;
    margin-bottom: .5rem;
    cursor: pointer;
    &-item {
      display: none;
      cursor: pointer;
      align-items: center;
      &.active {
        display: flex;
      }
      .caret {
        margin-top: 3px;
        margin-left: 5px;
        &.down, &.up {
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
        }
        &.down {
          border-top: 8px solid #333;
        }
        &.up {
          border-bottom: 8px solid #333;
        }
      }
    }
  }
  &-list {
    opacity: 0;
    position: relative;
    top: -20px;
    overflow: hidden;
    transition: all .5s;
    pointer-events: none;
    height: 0;
    &.active {
      opacity: 1;
      top: 0;
      pointer-events: auto;
      height: auto;
    }
    li {
      background: white;
      cursor: pointer;
      padding: 5px 10px 5px 5px;
      transition: all .5s;
      &:hover {
        background: $tarumanegara_color_1;
        color: white;
      }
    }
  }
}