// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  body {
    &.tarumanegara, &.buanatek {
      overflow-x: hidden;
      overflow-y: auto;
    }  
  }
  .lang {
    position: absolute;
    top: 35px;
    left: 100%;  
  }
  .navigation {
    align-items: center;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    width: 8.3333333333%;
  }
  #navigation 
  {
    height: 100vh;
    left: -100%;
    top: 0;
    width: calc(100% - 8.3333333333%);
    &.enter {
      left: 8.3333333333%;
      top: 0;
    }
    &.buanatek {
      nav a {
        line-height: 1.3;
      }
    }
    nav {
      align-items: flex-start;
      margin-left: 4rem;
      a {
        font-size: 4.4rem;
      }
    }
  }
  .brand {
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    min-height: calc(2rem + 70px);
    > img {
      padding-top: 2rem;
    }
  }
  .page-container>.container-fluid>.row {
    flex-direction: row;
  }
  .page-main {
    flex-grow: 1;
  }
  .page-home {
    background: {
      image: url('/static/imgs/bg-retro.jpeg');
      position: center bottom;
      size: cover;
      repeat: no-repeat;
    }
    height: 100vh
  }
  .home, .service {
    &-intro, &-aside {
      align-items: flex-end;
      display: flex;
      height: 100%;
    }
    &-content {
      padding-left: 4rem;
    }
    &-intro {
      height: 100%;
    }
  }
  .home {
    &-content {
      padding-top: 0;
      padding-bottom: 4rem;
    }
  }
  .recent-project {
    margin-right: -30px;
  }
  .btn-more-project {
    color: white;
    &::before,
    &::after {
      color: black;
    }
  }
  #socmed {
    bottom: 0;
    display: block;
    position: absolute;
    ul {
      list-style-type: none;
      a {
        color: $tarumanegara_color_3;
        &:hover {
          color: $tarumanegara_color_4;
          text-decoration: none;
        }
      }
    }
  }
  .service, .project {
    &-intro {
      align-items: center
    }
    &-content {
      padding: {
        left: 0;
        top: 4rem;
      }
      h2 {
        position: relative;
        &::after {
          content: "";
          background: #212529;
          width: 150px;
          height: 4px;
          bottom: 0;
          position: absolute;
        }
      }
    }
    &-aside {
      margin: {
        left: 0;
        right: 0;
      }
      padding-bottom: 0;
    }
    &-list {
      &-item {
        padding: {
          left: 0;
          right: 0;
        }
        &-desc, &-media {
          padding: 0;
        }
      }
    }
    &-sublist {
      &-item {
        width: 50%;
        &.md-auto {
          width: auto;
        }
        &.md-quarter {
          width: 25%;
        }
        &-img {
          text-align: center;
          width: 100%;
        }
      }
    }
    &-navigation {
      padding-left: 8.3333333333%;
    }
  }
  .service {
    &-list {
      &-item {
        &:nth-child(odd) {
          padding-right: 0;
          .service {
            &-list-item-desc {
              padding-right: 0;
              > .row {
                justify-content: flex-end;
                padding-right: 4rem;
                text-align: right;
              }
            }
            &-list-item-media {
              padding-left: 0;
            }
            &-content {
              h2 {
                &::after {
                  right: 0;
                }
              }
            }
          }
        }
        &:nth-child(even) {
          padding-left: 0;
          > .row {
            flex-direction: row-reverse;
          }
          .service {
            &-list-item-desc {
              padding-left: 0;
              > .row {
                justify-content: flex-start;
                padding-left: 4rem;
                text-align: left;
              }
            }
            &-content {
              h2 {
                &::after {
                  left: 0;
                }
              }
            }
            &-list-item-media {
              padding-right: 0;
            }
            &-content {
              padding-left: 0;
            }
            &-sublist {
              padding-left: 0;
            }
          }
        }
      }
    }
  }
  
  .project {
    &-content {
      margin-bottom: 4rem;
      padding-top: 0;
      h2 {
        &::after {
          left: 0;
        }
      }
    }
    &-list {
      &-item {
        &-desc {
          height: 100%;
          align-content: space-between;
          &.row {
            justify-content: flex-start;
            padding-left: 4rem;
            text-align: left;
          }
        }
      }
    }
  }
  .teamlist-board {
    flex-direction: row;
    &item {
      &-wrapper {
        padding: 2rem
      }
    }
  }
  .news {
    &-banner {
      background: {
        size: cover;
        position: center bottom;
      }
      height: 500px;
    }
    &-item {
      background: antiquewhite;
      box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
      position: relative;
      top: 0;
      transition: top .5s;
      margin: 0 0rem 2rem;
      padding: 0 0;
      &:hover {
        top: -10px;
      }
      &.detail {
        box-shadow: none;
        &:hover {
          top: unset;
        }
      }
      &-date {
        background-color: white;
        font-weight: bold;
      }
      &-content {
        padding: 1rem;
        background: white;
        margin: 0rem 3rem 0;
        position: relative;
        top: -3rem;
      }
    }
    &-list {
      a {
        text-decoration: none;
      }
    }
  }
  .contact {
    &-banner {
      height: 500px;
    }
    &-item {
      margin: 0 2rem 0rem;
    }
    &-block {
      top: -50px;
    }
  }
  .filter {
    .project {
      width:20vw;
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .page {
    &-header {
      h1 {
        font-size: 3em;
      }
    }
  }
  .teamlist {
    &-boarditem {
      text-align: center;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}