@import 'nav';

.tarumanegara {
  background: white;
  overflow-x: hidden;
  overflow-y: auto;
}
.home, .service {
  &-aside {
    margin: 0 -15px;
    padding-bottom: 4rem;
  }
  &-intro {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 3rem;
    }
  }
  &-content {
    padding-top: 4rem;
    padding-bottom: 4rem;
    h1, h2 {
      span {
        display: block;
      }
    }
  }
}
.home {
  &-aside {
    padding-bottom: 0;
  }
}
.service, .project {
  &-list {
    &-item {
      padding: 0;
      &:first-child {
        padding-top: 0;
        .service {
          &-content {
            padding-top: 0;
          }
        }
      }
    }
  }
  &-sublist-item {
    overflow: hidden;
    padding: 0 0;
    position: relative;
    width: 50vw;
    &::before {
      background-color: rgba(black, .6);
      content: '';
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      transition: all .5s;
      z-index: 1;
    }
    img {
      transition: transform 4s;
    }
    &:hover {
      img {
        transform: scale(1.3);
      }
      &::before {
        background-color: rgba(black, 0);
      }
    }
    &-content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &-text {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
      h5 {
        color: $tarumanegara_color_3;
      }
    }
  }
  &-navigation {
    background: white;
    border-top: 1px solid $tarumanegara_color_3;
    height: 100px;
    z-index: 2;
    &-prev,
    &-center,
    &-next {
      font-family: $font_bebas;
      font-size: 1.4em;
      width: 30vw;
    }
    &-prev {
      text-align: left;
    }
    &-next {
      text-align: right;
    }
    &-center {
      text-align: center;
      text-transform: uppercase;
    }
  }
  &-maincontent {
    padding-bottom: 100px;
  }
}
.project {
  &-list {
    margin-top: 5rem;
  }
  &-sublist {
    &-item {
      &.full {
        width: 100%;
      }
    }
  }
}
.teamlist-board {
  display: flex;
  &item {
    flex: 1 1 0;
    &-wrapper {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      padding: 1rem
    }
    &-image {
      text-align: center;
    }
    &-content {
      flex: 1;
      .h3 {
        min-height: 66px;
      }
      p {
        min-height: 60px;
      }
    }
  }
}
.news {
  &-banner {
    background: {
      image: url("https://placeimg.com/1280/540/any");
      size: contain;
      position: center top;
      repeat: no-repeat;
    }
    width: 100%;
    height: 180px;
    position: relative;
    color: white;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(black, .5);
    }
  }
  &-side {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
    padding: 1rem;
    a {
      color: #212529;
      text-decoration: none;
    }
  }
  &-item {
    color: #212529;
    text-decoration: none;
    &:hover {
      color: #212529;
      text-decoration: none;  
    }
    &-title {
      margin: 15px 0
    }
    &-thumbnail:not(.detail) {
      position: relative;
      width: 100%;
      overflow: hidden;
      padding-top: 56.25%;
      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
.contact {
  &-banner {
    background-color: $tarumanegara_color_4;
    height: 300px;
    &-wrapper {
      position: relative;
    }
    &-map {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  &-block {
    position: relative;
    top: 10px;
  }
  &-item {
    background-color: white;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
    padding: 2rem;
    flex-grow: 1;
  }
}
.recent-project {
  &-img {
    overflow: hidden;
  }
  &-item {
    overflow: hidden;
    padding: 0 0;
    position: relative;
    &::before {
      background-color: rgba(black, .6);
      content: '';
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      transition: all .5s;
      z-index: 1;
    }
    img {
      transition: transform 4s;
      width: 100%;
      height: 271px;
      object-fit: cover;
    }
    &:hover {
      img {
        transform: scale(1.3);
      }
      &::before {
        background-color: rgba(black, 0);
      }
    }
  }
  &-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &-text {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    h5 {
      color: white;
      text-align: center;
      text-shadow: 0px 0px 2px black;
      z-index: 2;
    }
  }
}
.btn-more-project {
  display: flex;
  font-family: $font_bebas;
  font-size: 24px;
  color: #666;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  padding: 5px 0;
  transition: all .5s;
  &.dark {
    color: #212529;
  }
  &:hover {
    color: black;
    margin-left: -45px;
    text-decoration: none;
    transition: all .5s;
    &::before,
    &::after {
      background: black;
      transition: all .5s;
    }
    &::before {
      width: 0;
    }
    &::after {
      width: 40px;
    }
  }
  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 49%;
    height: 3px;
    background: #666;
    transition: all .5s;
  }
  &::after {
    right: -46px;
    width: 0;
  }
  &::before {
    right: 50px;
    width: 40px;
  }
}
@import 'filter';
@import 'responsive';