<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <ul v-if="posts.books && posts.books.length">
      <li v-for="(post, index) in posts.books" :key="index">
        <p>
          <strong>{{post.title}}</strong>
        </p>
        <p>{{post.category}}</p>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "HelloWorld",
  data() {
    return {
      msg: "Welcome to Your Vue.js App",
      posts: [],
      errors: []
    };
  },
  created() {
    axios
      .get("http://civue.test/api/books")
      .then(response => {
        console.log(response);
        // JSON responses are automatically parsed.
        this.posts = response.data;
      })
      .catch(e => {
        this.errors.push(e);
      });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
