<template>
  <div class="navigation buanatek">
    <router-link to="/buanatek/home" class="brand">
      <img :src="baseUrl+ '/uploads/settings/logo-buanatek.jpeg'" alt srcset />
    </router-link>
    <div class="lang ml-auto ml-md-4">
      <div class="lang-selector">
        <div class="lang-selector-item EN active" id="lang-EN" data-flag="EN" @click="toggleLanguage">
          <img
            src="/static/imgs/united-kingdom-flag-square-icon-32.png"
            class="img-rounded"
            alt
            srcset
          />
          <span>&nbsp;english</span>
          <span class="caret down"></span>
        </div>
        <div class="lang-selector-item ID" id="lang-ID" data-flag="ID" @click="toggleLanguage">
          <img src="/static/imgs/indonesia-flag-square-icon-32.png" class="img-rounded" alt srcset />
          <span>&nbsp;indonesia</span>
          <span class="caret down"></span>
        </div>
      </div>
      <div class="lang-list" id="langList">
        <ul>
          <li class="lang-selector-item_option" @click="changeLanguage" data-flag="EN">
            <img
              src="/static/imgs/united-kingdom-flag-square-icon-32.png"
              class="img-rounded"
              alt
              srcset
            />
            <span>&nbsp;english</span>
          </li>
          <li class="lang-selector-item_option" @click="changeLanguage" data-flag="ID">
            <img
              src="/static/imgs/indonesia-flag-square-icon-32.png"
              class="img-rounded"
              alt
              srcset
            />
            <span>&nbsp;indonesia</span>
          </li>
        </ul>
      </div>
    </div>

    <button
      class="hamburger hamburger--spring"
      type="button"
      aria-controls="navigation"
      aria-expanded="false"
      id="hamburger"
      @click="toggleNav"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <div id="socmed">
      <ul>
        <li>
          <a href="https://www.facebook.com" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>

    <div id="navigation" class="buanatek">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <nav>
              <li>
                <router-link to="/buanatek/home">home</router-link>
              </li>
              <li>
                <router-link to="/buanatek/about">about</router-link>
              </li>
              <li>
                <router-link to="/buanatek/services">service</router-link>
              </li>
              <li>
                <router-link to="/buanatek/projects">project list</router-link>
              </li>
              <li>
                <router-link to="/buanatek/home" class="d-none">work method</router-link>
              </li> 
            </nav>
          </div>
          <div class="col">
            <nav>
              <li>
                <router-link to="/buanatek/client">client</router-link>
              </li>
              <li>
                <router-link to="/buanatek/team">team support</router-link>
              </li>
              <li>
                <router-link to="/buanatek/news" class="d-none">news</router-link>
              </li>
              <li>
                <router-link to="/buanatek/contact">contact us</router-link>
              </li>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as apps from "../assets/apps.js";
import { mapState, mapGetter, mapActions } from 'vuex'
export default {
  name: "navigation-buanatek",
  data() {
    return {
      baseUrl: this.$baseUrl,
    }
  },
  mounted() {
    let langSelector = document.getElementsByClassName("lang-selector");
    langSelector.onclick = e => {
      let cl = e.classList;
      console.log(cl);
    };
  },
  methods: {
    ...mapActions(['changeLocale']),
    toggleLanguage: e => {
      let flag = e.currentTarget.getAttribute("data-flag");
      let flagList = document.getElementById("langList");

      flagList.classList.toggle("active");
    },
    changeLanguage: e => {
      let flag = e.currentTarget.getAttribute('data-flag');
      let flags = document.querySelectorAll('.lang-selector-item');
      let flagList = document.getElementById("langList");

      [].forEach.call(flags, el => {
        el.classList.remove('active');
      })
      document.getElementById('lang-'+flag).classList.add('active')

      this.changeLocale(flag)
      flagList.classList.toggle("active");
    },
    toggleNav: () => {
      const hamburger = document.getElementById("hamburger");
      const navigation = document.getElementById("navigation");
      console.log("burger clicked");
      let clsName = "is-active";
      let clsEnter = "enter";
      let isActive = hamburger.classList.contains(clsName);

      if (isActive) {
        hamburger.classList.remove(clsName);
        navigation.classList.remove(clsEnter);
      } else {
        hamburger.classList.add(clsName);
        navigation.classList.add(clsEnter);
      }
    }
  }
};
</script>