<template>
  <div class="navigation">
    <router-link to="/bumiyasa/home" class="brand">
      <img v-bind:src="brandLogo" alt srcset />
    </router-link>
    <div class="lang ml-auto ml-md-4">
      <div class="lang-selector">
        <div class="lang-selector-item EN active" id="lang-EN" data-flag="EN" @click="toggleLanguage">
          <img
            src="/static/imgs/united-kingdom-flag-square-icon-32.png"
            class="img-rounded"
            alt
            srcset
          />
          <span>&nbsp;english</span>
          <span class="caret down"></span>
        </div>
        <div class="lang-selector-item ID" id="lang-ID" data-flag="ID" @click="toggleLanguage">
          <img src="/static/imgs/indonesia-flag-square-icon-32.png" class="img-rounded" alt srcset />
          <span>&nbsp;indonesia</span>
          <span class="caret down"></span>
        </div>
      </div>
      <div class="lang-list" id="langList">
        <ul>
          <li class="lang-selector-item_option" @click="changeLanguage" data-flag="EN">
            <img
              src="/static/imgs/united-kingdom-flag-square-icon-32.png"
              class="img-rounded"
              alt
              srcset
            />
            <span>&nbsp;english</span>
          </li>
          <li class="lang-selector-item_option" @click="changeLanguage" data-flag="ID">
            <img
              src="/static/imgs/indonesia-flag-square-icon-32.png"
              class="img-rounded"
              alt
              srcset
            />
            <span>&nbsp;indonesia</span>
          </li>
        </ul>
      </div>
    </div>

    <button
      class="hamburger hamburger--spring"
      type="button"
      aria-controls="navigation"
      aria-expanded="false"
      id="hamburger"
      @click="toggleNav"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <div id="socmed">
      <ul>
        <li>
          <a href="https://www.facebook.com" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>

    <div id="navigation">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <nav>
              <li>
                <router-link to="/bumiyasa/home">home</router-link>
              </li>
              <li>
                <router-link to="/bumiyasa/about">about</router-link>
              </li>
              <li>
                <router-link to="/bumiyasa/services">service</router-link>
              </li>
              <li>
                <router-link to="/bumiyasa/projects">project list</router-link>
              </li>
            </nav>
          </div>
          <div class="col">
            <nav>
              <li>
                <router-link to="/bumiyasa/news">news</router-link>
              </li>
              <li>
                <router-link to="/bumiyasa/client">client</router-link>
              </li>
              <li>
                <router-link to="/bumiyasa/team">team support</router-link>
              </li>
              <li>
                <router-link to="/bumiyasa/contact">contact us</router-link>
              </li>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import * as apps from "../assets/apps.js";
import { mapState, mapGetter, mapActions } from 'vuex'
export default {
  name: "navigation-bumiyasa",
  data() {
    return {
      baseUrl: this.$baseUrl,
      apiurl:
        process.env.NODE_ENV === "development"
          ? "http://taruma.test"
          : "http://api.ekode.xyz/taruma",
      setting: null,
      brandlogo: null
    }
  },
  mounted() {
    let langSelector = document.getElementsByClassName("lang-selector");
    langSelector.onclick = e => {
      let cl = e.classList;
      console.log(cl);
    };
  },
  computed: {
    brandLogo: function() {
      return this.baseUrl+'/uploads/settings/'+this.brandlogo;
    }
  },
  created() {
    this.getLogo();
  },
  methods: {
    ...mapActions(['changeLocale']),
    toggleLanguage: e => {
      let flag = e.currentTarget.getAttribute("data-flag");
      let flagList = document.getElementById("langList");

      flagList.classList.toggle("active");
    },
    changeLanguage(e) {
      let flag = e.currentTarget.getAttribute('data-flag');
      let flags = document.querySelectorAll('.lang-selector-item');
      let flagList = document.getElementById("langList");

      [].forEach.call(flags, el => {
        el.classList.remove('active');
      })
      document.getElementById('lang-'+flag).classList.add('active')

      this.changeLocale(flag)

      flagList.classList.toggle("active");
    },
    toggleNav: () => {
      const hamburger = document.getElementById("hamburger");
      const navigation = document.getElementById("navigation");

      let clsName = "is-active";
      let clsEnter = "enter";
      let isActive = hamburger.classList.contains(clsName);

      if (isActive) {
        hamburger.classList.remove(clsName);
        navigation.classList.remove(clsEnter);
      } else {
        hamburger.classList.add(clsName);
        navigation.classList.add(clsEnter);
      }
    },
    getLogo: function () {
      axios.get(this.apiurl + "/api/setting", {
        params: {
          'company' : 'bumiyasa'
        }
      })
      .then(response => {
        if (response.status == 200) return response;
      })
      .then(response => {
        let setting = response.data.setting;
        this.brandlogo = setting.logo;
      })
      .catch(e => {
        console.log(e);
      });
    }
  }
};
</script>