<template>
  <div class="page-container">
    <div class="container-fluid">
      <div class="row">
        <navigation-bumiyasa />
        <main class="page-main page-service">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div data-aos="fade-up" class="page-header d-flex justify-content-md-center">
                  <h1>Our Services</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="service-list">
                  <div
                    class="service-list-item"
                    v-for="(service, index) in services"
                    :key="index"
                  >
                    <div class="row align-items-center">
                      <div class="col-sm-12 col-md-6 service-list-item-desc">
                        <div class="row">
                          <div class="col-sm-12 col-md-8">
                            <div class="service-intro">
                              <div class="service-content">
                                <h2 data-aos="fade-up" data-aos-delay="100">{{service.name}}</h2>
                                <p
                                  data-aos="fade-up"
                                  data-aos-delay="300"
                                >{{service.description}}</p>
                                <router-link data-aos="fade-up" data-aos-delay="500" :to="{name: 'TarumanegaraService', params: {slug: service.slug}}">Read More</router-link>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 service-list-item-media" v-if="service.images.length">
                        <div class="service-aside align-items-center">
                          <div class="service-aside-wrapper">
                            <div class="container-fluid">
                              <div class="row service-sublist">
                                <a
                                  href="#"
                                  class="service-sublist-item"
                                  v-for="(serviceimage, subindex) in JSON.parse(service.images)"
                                  :key="subindex"
                                >
                                  <div class="service-sublist-item-img">
                                    <img :src="baseUrl + '/uploads/services/' + serviceimage.name " class="img-fluid" alt />
                                  </div>
                                  <div class="d-none service-sublist-item-content">
                                    <div class="service-sublist-item-text">
                                      <h5>{{serviceimage.name}}</h5>
                                    </div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</template>

<script>

import axios from "axios";
import AOS from "aos";
import { mapState, mapGetter, mapActions } from 'vuex'
export default {
  name: "TarumanegaraServices",
  data() {
    return {
      baseUrl: this.$baseUrl,
      apiurl:
        process.env.NODE_ENV === "development"
          ? "http://taruma.test"
          : "http://api.ekode.xyz/taruma",
      servicesList: [],
    };
  },
  mounted() {
    this.$store.watch(
      state => state.locale, () => {
        this.getServices(this.$store.getters.activeLocale);
      }
    )
  },
  computed: {
    services: function() {
      return this.servicesList;
    }
  },
  methods: {
    ...mapActions(['changeLocale']),
    getServices: function(locale) {
      axios.get(this.apiurl + "/api/services", {
        params: {
          'company' : 'bumiyasa',
          'locale' : locale
        }
      })
      .then(response => {
        if (response.status == 200 && response.data.status) return response;
      })
      .then(response => {
        this.servicesList = response.data.services;
      })
      .catch(e => {
        console.log(e);
      });
    }
  },
  created() {
    AOS.init();

    this.getServices(this.$store.getters.activeLocale);
  }
};
</script>

<style lang="scss">
</style>