<template>
  <div class="page-container">
    <div class="container-fluid">
      <div class="row">
        <navigation-bumiyasa />
        <main class="page-main page-about">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div data-aos="fade-up" class="page-header d-flex justify-content-md-center">
                  <h1>About Us</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <h5>Visi & Misi</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem deserunt a placeat beatae unde quidem, iusto non eaque. Saepe, repellat. Veniam modi eos ab temporibus unde accusamus dolorem id sunt.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem deserunt a placeat beatae unde quidem, iusto non eaque. Saepe, repellat. Veniam modi eos ab temporibus unde accusamus dolorem id sunt.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem deserunt a placeat beatae unde quidem, iusto non eaque. Saepe, repellat. Veniam modi eos ab temporibus unde accusamus dolorem id sunt.</p>
              </div>
              <div class="col-12 col-md-6">
                <h5>History</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem deserunt a placeat beatae unde quidem, iusto non eaque. Saepe, repellat. Veniam modi eos ab temporibus unde accusamus dolorem id sunt.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem deserunt a placeat beatae unde quidem, iusto non eaque. Saepe, repellat. Veniam modi eos ab temporibus unde accusamus dolorem id sunt.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem deserunt a placeat beatae unde quidem, iusto non eaque. Saepe, repellat. Veniam modi eos ab temporibus unde accusamus dolorem id sunt.</p>
              </div>
            </div>
            <div class="row my-5">
              <div class="col-12 col-lg-6 offset-3">
                <div class="quote">
                  <h2 class="text-center">With 30 Years Experience, We Will Keep Giving the Best Service in Geotechnical Works</h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <h5>Board Members</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="teamlist-board flex-column flex-lg-row">
                      <div 
                        v-for="(team, indexteam) in division" 
                        :key="indexteam" 
                        class="teamlist-boarditem"
                      >
                        <div class="teamlist-boarditem-wrapper">
                          <div class="teamlist-boarditem-image">
                            <img :src="baseUrl + '/uploads/teams/' + team.image" alt />
                          </div>
                          <div class="teamlist-boarditem-content align-items-center d-flex flex-column justify-content-between">
                            <div
                              class="h3 d-flex align-items-center"
                            >{{ team.name }}</div>
                            <p>{{ team.role }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</template>

<script>

import axios from "axios";
import AOS from "aos";
import { mapState, mapGetter, mapActions } from 'vuex'
export default {
  name: "TarumanegaraAbout",
  data() {
    return {
      baseUrl: this.$baseUrl,
      apiurl:
        process.env.NODE_ENV === "development"
          ? "http://taruma.test"
          : "http://api.ekode.xyz/taruma",
      teamDivision: []
    };
  },
  computed: {
    division: function() {
      console.log(this.teamDivision.teams)
      return this.teamDivision.teams;
    }
  },
  created() {
    AOS.init();
    
    this.getDivisions();
  },
  methods: {
    getDivisions: function() {
      axios.get(this.apiurl + "/api/about", {
        params: {
          'company' : 'bumiyasa'
        }
      })
      .then(response => {
        if (response.status == 200) return response;
      })
      .then(response => {
        this.teamDivision = response.data.division;
      })
      .catch(e => {
        console.log(e);
      });
    }
  }
}
</script>

<style lang="scss">

</style>