<template>
  <div class="page-container">
    <div class="container-fluid">
      <div class="row">
        <navigation-bumiyasa />
        <main class="page-main page-client">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="page-header d-flex justify-content-md-center">
                  <h1>Our Clients</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="filter">
                  <div class="title-container">
                    <div class="filters d-flex">
                      <div
                        class="filter"
                        v-bind:class="{ active: currentFilter === 'ALL' }"
                        v-on:click="setFilter('ALL')"
                      >ALL</div>
                      <div
                        v-for="(category, indexCategory) in categoryList"
                        :key="indexCategory"
                        class="filter"
                        v-bind:class="{ active: currentFilter === category.category_label }"
                        v-on:click="setFilter(category.category_label)"
                      >{{category.category_name}}</div>
                    </div>
                  </div>

                  <transition-group class="projects" name="projects">
                    <a
                      class="project"
                      v-bind:key="client.client_name"
                      v-for="client in selectedClientList"
                      :href="client.client_link"
                      v-bind:target="targetHref"
                      rel="noopener noreferrer"
                    >
                      <div class="project-image-wrapper">
                        <div class="project-image">
                          <img :src="baseUrl + '/uploads/clients/' + client.client_image" />
                        </div>
                        <div class="project-title">
                          <h4>{{client.client_name}}</h4>
                        </div>
                      </div>
                    </a>
                  </transition-group>
                </div>
              </div>
            </div>
          </div>
          <!-- <div id="ssb">
            <smooth-scrollbar>
            </smooth-scrollbar>
          </div>-->
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import AOS from "aos";
import axios from "axios";
export default {
  name: "TarumanegaraClient",
  data() {
    return {
      baseUrl: this.$baseUrl,
      apiurl:
        process.env.NODE_ENV === "development"
          ? "http://taruma.test"
          : "http://api.ekode.xyz/taruma",
      targetHref: "_blank",
      currentFilter: "ALL",
      clientList: null,
      clientLists: null,
      categoryList: null
    };
  },
  computed: {
    selectedClientList: function() {
      if (this.currentFilter !== "ALL") {
        return this.clientList.filter(
          c => this.currentFilter === c.client_category
        );
      } else return this.clientList;
    }
  },
  created() {
    AOS.init();
    this.getClients();
  },
  methods: {
    getClients: function() {
      axios.get(this.apiurl + "/api/clients", {
        params: {
          'company' : 'bumiyasa'
        }
      })
      .then(response => {
        if (response.status == 200 && response.data.status) return response;
      })
      .then(response => {
        this.clientList = response.data.clients;
        this.categoryList = response.data.categories;
      })
      .catch(e => {
        console.log(e);
      });
    },
    setFilter: function(filter) {
      this.currentFilter = filter;
    }
  }
};
</script>