<template>
  <div class="page-container">
    <div class="container-fluid">
      <div class="row">
        <navigation-bumiyasa />
        <main class="page-main page-contact">
          <div class="contact-banner">
            <div class="contact-banner-wrapper h-100">
              <div
                class="contact-banner-content align-items-center d-flex flex-column h-100 justify-content-center text-white"
              >
                <h1 v-aos data-aos="fade-up">Contact</h1>
                <p
                  v-aos
                  data-aos="fade-up"
                  data-aos-delay="200"
                >Feel free to contact us if you have any inquiry</p>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12 offset-md-2 col-md-8">
                <div
                  v-aos
                  data-aos="fade-up"
                  data-aos-delay="400"
                  class="d-flex flex-column flex-md-row contact-block"
                >
                  <div
                    v-aos
                    data-aos="fade-up"
                    data-aos-delay="400"
                    class="col flex-column contact-item d-flex justify-content-between align-items-center"
                  >
                    <img src="/static/imgs/c-pinpoint.png" class="img-fluid" width="50" alt />
                    <div>
                      <p>
                        jl. Raya Kebayoran Lama No.354
                        <br />Sukabumi Utara, Kebon Jeruk
                        <br />Jakarta Barat 11540
                      </p>
                    </div>
                  </div>
                  <div
                    v-aos
                    data-aos="fade-up"
                    data-aos-delay="600"
                    class="col flex-column contact-item d-flex justify-content-between align-items-center"
                  >
                    <img src="/static/imgs/c-phone.png" class="img-fluid" width="50" alt />
                    <div>
                      <p>tel: (021)15321547</p>
                      <p>tel: (021)5308689</p>
                      <p>tel: (021)5308690</p>
                      <p>fax: (021)5481413</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 offset-md-2 col-md-8">
                <div class="col flex-column contact-item mb-5 d-flex justify-content-between align-items-center">
                  <img src="/static/imgs/c-mail.png" class="img-fluid" width="50" alt />
                  <div>
                    <p>tarumanegarabumiyasa@yahoo.com</p>
                    <p>marketing_tb@@tarumanugara.co.id</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div id="ssb">
            <smooth-scrollbar>
            </smooth-scrollbar>
          </div>-->
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import AOS from "aos";
export default {
  name: "TarumanegaraContact",
  data() {
    return {
      map: {
        url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
        attribution:'© <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        zoom: 12,
        center: [-6.93,107.60],
        bounds: null
      }
    };
  },
  created() {
    AOS.init();
  }
};
</script>