<template>
  <div class="page-container">
    <div class="container-fluid">
      <div class="row">
        <Navigation></Navigation>
        <main class="page-main page-home">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="row home-intro">
                  <div class="col-sm-12 col-md-8 home-content">
                    <h1 data-aos="fade-up">
                      <span>tarumanegara</span>
                      <span>bumiyasa</span>
                    </h1>
                    <p
                      data-aos="fade-right"
                      data-aos-delay="100"
                    >Soil Investigation & Geotechnical Specialist</p>
                    <p
                      data-aos="fade-right"
                      data-aos-delay="300"
                      data-aos-offset="0"
                    >Specialist Survey & Supervision</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="home-aside">
                  <div class="home-aside-wrapper">
                    <div class="container-fluid home-recent-tagline">
                      <div class="row">
                        <div class="col">
                          <h2 data-aos="fade-down" class="d-flex justify-content-end text-right">
                            With 30 years experience, We will keep on giving
                            <br />the best service in geotechnical works 
                          </h2>
                        </div>
                      </div>
                    </div>
                    <div class="container-fluid home-recent-project">
                      <div class="row recent-project">
                        <a href="#" class="col recent-project-item">
                          <div class="recent-project-img">
                            <img :src="baseUrl+'/static/imgs/bumiyasa/home/soil-investigation.jpg'" class="img-fluid" alt />
                          </div>
                          <div class="recent-project-content">
                            <div class="recent-project-text">
                              <h5>Soil Investigation</h5>
                            </div>
                          </div>
                        </a>
                        <a href="#" class="col recent-project-item">
                          <div class="recent-project-img">
                            <img :src="baseUrl+'/static/imgs/bumiyasa/home/ndt.jpg'" class="img-fluid" alt />
                          </div>
                          <div class="recent-project-content">
                            <div class="recent-project-text">
                              <h5>Non Destructive<br>Test</h5>
                            </div>
                          </div>
                        </a>
                        <a href="#" class="col recent-project-item">
                          <div class="recent-project-img">
                            <img :src="baseUrl+'/static/imgs/bumiyasa/home/pumping-and-dewatering-system.jpg'" class="img-fluid" alt />
                          </div>
                          <div class="recent-project-content">
                            <div class="recent-project-text">
                              <h5>
                                Pumping &<br>
                                Dewatering<br>
                                System
                              </h5>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="row more-project">
                        <div class="col">
                          <router-link to="services" class="btn-more-project">more</router-link>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import Navigation from "@/components/NavigationBumiyasa";
import AOS from "aos";
export default {
  name: "TarumanegaraHome",
  components: {
    Navigation
  },
  data() {
    return {
      baseUrl: this.$baseUrl
    };
  },
  created() {
    AOS.init();
  }
};
</script>

<style lang="scss">
//@import "../../../node_modules/bootstrap/scss/bootstrap";
</style>