<template>
  <div class="page-container">
    <div class="container-fluid">
      <div class="row">
        <Navigation></Navigation>
        <main class="page-main page-news">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="page-header d-flex justify-content-md-center">
                  <h1>News</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-9">
                <div class="row news-list">
                  <router-link 
                    v-for="(post, index) in posts"
                    :key="index"
                    :to="{name: 'TarumanegaraNewsDetail', params: {slug: post.slug}}"
                    class="col-12 col-md-6">
                    <div class="news-item">
                      <div class="news-item-date px-5 py-2">
                        {{ post.created_at|format_date }}
                      </div>
                      <div class="news-item-thumbnail d-flex justify-content-center">
                        <img :src="baseUrl+'/uploads/news/'+post.image" :alt="post.title" class="" />
                      </div>
                      <div class="news-item-content">
                        <h4 class="news-item-title">{{ post.title }}</h4>
                        <p class="news-item-brief" v-html="subStr(post.content)"></p>

                      </div>
                    </div>
                  </router-link>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="news-side">
                  <h3 class="news-side-head">
                    Recent Posts
                  </h3>
                  <ul class="list-unstyled">
                    <li class="mb-4">
                      <router-link 
                        v-for="(postList, index) in postLists"
                        :key="index"
                        :to="{name: 'TarumanegaraNewsDetail', params: {slug: postList.slug}}"
                        class="media">
                        <img :src="baseUrl+'/uploads/news/'+postList.image" :alt="postList.title" class="mr-3 img-fluid" />
                        <div class="media-body">
                          <h6>{{postList.created_at|format_date}}</h6>
                          <h5 class="mt-0 mb-1">{{postList.title}}</h5>
                        </div>
                      </router-link>
                    </li>
                  </ul>
                </div>
                <div class="news-side">
                  <h3 class="news-side-head">
                    Contact Us
                  </h3>
                  <ul class="list-unstyled">
                    <li class="mb-4">
                      <div class="media-body">
                        <address>
                          tel: (021)5308690<br>
                          tarumanegarabumiyasa@yahoo.com
                        </address>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- <div id="ssb">
            <smooth-scrollbar>
            </smooth-scrollbar>
          </div>-->
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import Navigation from "@/components/NavigationBumiyasa";
import axios from "axios";
import moment from 'moment';
export default {
  name: "TarumanegaraNews",
  components: {
    Navigation
  },
  data() {
    return {
      baseUrl: this.$baseUrl,
      apiurl:
        process.env.NODE_ENV === "development"
          ? "http://taruma.test"
          : "http://api.ekode.xyz/taruma",
      postLists: []
    };
  },
  computed: {
    posts: function() {
      return this.postLists;
    }
  },
  created() {
    this.getPosts();
  },
  methods: {
    getPosts: function(locale) {
      axios.get(this.apiurl + "/api/news", {
        params: {
          'company' : 'bumiyasa'
        }
      })
      .then(response => {
        if (response.status == 200 && response.data.status) return response;
      })
      .then(response => {
        this.postLists = response.data.news;
      })
      .catch(e => {
        console.log(e);
      });
    },
  	subStr: function(string) {
    	return string.substring(0,100) + '...';
    }
  },
  filters: {
    format_date: function(value){
      if (value) {
        return moment(String(value)).format('ddd, MMMM Do | hh:mm')
      }
    },
  }
};
</script>

<style lang="scss">
  .media img{
    max-width: 80px;
  }
</style>