<template>
  <div class="page-container">
    <div class="container-fluid">
      <div class="row">
        <navigation-bumiyasa />
        <main class="page-main page-service">
          <div class="service">
            <div class="service__intro">
              <div class="d-flex flex-column justify-content-center align-items-start h-100 p-4">
                <router-link :to="{name: 'TarumanegaraServices'}" class="service-navigation-backto">
                  &larr;
                  <span>Back to Services</span>
                </router-link>
                <h1 data-aos="fade-right" data-aos-delay="150">{{ service.name }}</h1>
                <p data-aos="fade-up" data-aos-delay="350">{{ service.description }}</p>
                <ul>
                  <li v-for="(subservice, index) in services" :key="index"> 
                    <router-link :to="{name: 'TarumanegaraService', params: {slug: subservice.slug}}" class="d-flex">
                      {{ subservice.name }} 
                    </router-link>
                  </li>
                </ul>
              </div>
            </div>
            <div class="service__content">
              <div class="service__lists-wrapper">
                <div class="service__lists">
                  <div class="service__lists-slider">
                    <div 
                      class="service__list"
                      v-for="(subservice, index) in services"
                      :key="index"
                      v-bind:style="{ width: listwidth, 'background-image': 'url(' +baseUrl+'/uploads/services/'+subservice.images[0].name + ')' }"
                    >
                      <router-link :to="{name: 'TarumanegaraService', params: {slug: subservice.slug}}" class="d-flex flex-column justify-content-start align-items-center">
                        <div class="service__list-inner">
                          <div class="service__list-thumb" data-aos="fade-up" data-aos-delay="100" v-if=" subservice.images != '' ">
                            <img :src=" subservice.images " alt="" class="img-fluid">
                          </div>
                          <h4 data-aos="fade-up" data-aos-delay="350">{{ subservice.name }}</h4>
                        </div>
                      </router-link>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</template>

<script>

import axios from "axios";
import AOS from "aos";
import { mapState, mapGetter, mapActions } from 'vuex'
export default {
  name: "TarumanegaraServiceSubs",
  data() {
    return {
      baseUrl: this.$baseUrl,
      apiurl:
        process.env.NODE_ENV === "development"
          ? "http://taruma.test"
          : "http://api.ekode.xyz/taruma",
      servicesList: [],
      serviceRow: [],
      listWidth: 250
    };
  },
  mounted() {
    // const targets = document.querySelectorAll('.page-service');
    // targets.forEach( element => element.addEventListener('wheel', (event) => this.wheelHandler(element, event)));
    this.$store.watch(
      state => state.locale, () => {
        this.getServices(this.$store.getters.activeLocale);
      }
    )
    let isScroll = false;
    let pageScrolling = document.querySelector('.page-service.is-scrolling');
    if (window.innerWidth > 768) {
      if(pageScrolling){
        pageScrolling.addEventListener('wheel', function(e){
          if(e.type != 'wheel')
          {
            return;
          }

          let delta = ((e.deltaY || -e.wheelDelta || e.detail) >> 10) || 1;
          delta = delta * (-350);

          let listWidth = document.querySelector('.service__lists').offsetWidth;

          if( delta < 0 ) {
            setTimeout(() => {
              if (!document.querySelector('.service').classList.contains('scrolled')) {
                document.querySelector('.service__lists').style.left = 0;
              }
              if ( document.querySelector('.service__lists').offsetLeft > -Math.abs(listWidth/2) ) {
                document.querySelector('.service').classList.add('scrolled');
                if (delta < 0) {
                  let posLeft = parseInt(document.querySelector('.service__lists').style.left, 10)
                  document.querySelector('.service__lists').style.left = posLeft + delta + "px"
                }
              }
            }, 500);
          } else {
            if(document.querySelector('.service__lists').offsetLeft != 0 ) {
              if (delta > 0) {
                let posLeft = parseInt(document.querySelector('.service__lists').style.left, 10)
                document.querySelector('.service__lists').style.left = posLeft + delta + "px"
              }
            } else {
              if (document.querySelector('.service').classList.contains('scrolled')) {
                setTimeout(() => {
                  document.querySelector('.service').classList.remove('scrolled');
                }, 500);
              }
            }
          }

          e.preventDefault();
        });
      }
    }
  },
  computed: {
    services: function() {
      return this.servicesList;
    },
    service: function() {
      return this.serviceRow;
    },
    listwidth: function() {
      let pageMain = document.querySelector('.page-main')
      if (window.innerWidth > 768) {
        return ((pageMain.offsetWidth / 2) / 4)+"px";
      } else {
        return "100%";
      }
    }
  },
  methods: {
    ...mapActions(['changeLocale']),
    getServices: function(locale) {
      axios.get(this.apiurl + "/api/services/subdetail", {
        params: {
          'company' : 'bumiyasa',
          'slug' : this.$route.params.slug,
          'locale' : locale
        }
      })
      .then(response => {
        if (response.status == 200 && response.data.status) return response;
      })
      .then(response => {
        this.serviceRow = response.data.service;
        this.servicesList = response.data.subservices;
      })
      .catch(e => {
        console.log(e);
      });
    },
    replaceVerticalScrollByHorizontal: function (event) {
    	if (event.deltaY != 0) {
      	// manually scroll horizonally instead
        window.scroll(window.scrollX + event.deltaY * 5, window.scrollY);
        
        // prevent vertical scroll
      	event.preventDefault();
      }
      return;
    },
    wheelHandler: function (element, event) {
      console.log('event ', event.deltaY)
      console.log('element ', element.scrollLeft)
      const toLeft  = event.deltaY < 0 && element.scrollLeft > 0;
      const toRight = event.deltaY > 0 && element.scrollLeft < element.scrollWidth - element.clientWidth;

      console.log('toLeft ', toLeft)
      console.log('toRight ', toRight)

      if (toLeft || toRight) {
        event.preventDefault();
        event.stopPropagation();
        
        element.scrollBy({ left: event.deltaY });
      }
    }
  },
  created() {
    AOS.init();

    this.getServices(this.$store.getters.activeLocale);
  }
};
</script>

<style lang="scss">
  .service {
    &__list {
      padding: 2rem;
      position: relative;
      overflow: hidden;
    }
  }
  @media (min-width: 768px) {
    .page-service {
      height: 100vh;
    }

    .service {
      background: #142850;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      &__intro,
      &__content {
        flex: 1;
        transform: translateX(0);
        transition: all .5s ease-out;
      }

      &__intro {
        background: white;
      }

      &__content {
        background: transparent;
      }

      &.scrolled {
        .service {
          &__intro,
          &__content {
            transform: translateX(-100%);
            transition: all .5s ease-in;
          }
        }
      }

      &__lists {
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        touch-action: none;
        transition: left .5s;
        &-wrapper {
          height: 100%;
          position: relative;
          width: 100%;
        }
        &-slider {
          display: flex;
          height: 100%;
          transition: all .5s;
        }
      }

      &__list {
        background: #142850;
        height: 100%;
        position: relative;
        overflow: hidden;
        width: 350px;
        z-index: 2;
        a {
          height: 100%;
          text-decoration: none;
        }
        img {
          transform-origin: center;
          transform: scale(1);
          transition: all .3s;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(1, 39, 52, 0.9);
          z-index: -1;
        }
        &:hover {
          &::before {
            background: transparent;
            transition: all .3s;
          }
          img {
            transform: scale(1.2);
            transition: all .3s;            
          }
        }
        &-inner {
          padding-top: 20rem;
        }
        &-thumb {
          padding: 0 2rem 6rem;
        }
        h4 {
          color: white;
          align-self: flex-start;
          padding: 5rem 0rem 0;
          width: 100%;
        }
      }
      &__intro {
        ul {
          margin-left: 1.5rem;
        }
      }
      &-navigation {
        &-backto {
          font-weight: bold;
          color: #444;
          span {
            display: inline;
            padding-left: 1rem;
            text-decoration: underline;
            transition: all .5s;
          }
          &:hover {
            text-decoration: none;
            span {
              padding-left: 0;
              transition: all .5s;
            }
          }
        }
      }
    }
  }
</style>