<template>
  <div class="page-container">
    <div class="container-fluid">
      <div class="row">
        <navigation-bumiyasa />
        <main class="page-main page-service">
          <div class="container-fluid">
            <div class="row service-maincontent">
              <div class="col-md-6">
                <div data-aos="fade-up" class="page-header mt-5 pb-0 d-flex flex-column justify-content-md-center">
                  <router-link :to="{name: 'TarumanegaraServices'}" class="service-navigation-backto">
                    &larr;
                    <span>Back to Services</span>
                  </router-link>
                  <h1>{{ service.name }}</h1>
                </div>
                <div v-if="service.description" data-aos="fade-up" class="px-3 d-flex justify-content-md-center">
                  {{ service.description }}
                </div>
                <div v-else="" data-aos="fade-up" class="px-3 d-flex justify-content-md-center">
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam laborum reprehenderit quasi quod animi laudantium deserunt modi labore at, tenetur ullam ad accusantium sed omnis minima enim non, in quis?</p>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam laborum reprehenderit quasi quod animi laudantium deserunt modi labore at, tenetur ullam ad accusantium sed omnis minima enim non, in quis?</p>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam laborum reprehenderit quasi quod animi laudantium deserunt modi labore at, tenetur ullam ad accusantium sed omnis minima enim non, in quis?</p>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 service-list-item-media" v-if="serviceImages.length">
                <div class="service-aside align-items-start">
                  <div class="service-aside-wrapper">
                    <div class="container-fluid">
                      <div class="row service-sublist">
                        <a
                          href="#"
                          class="service-sublist-item"
                          v-for="(serviceimage, subindex) in serviceImages"
                          :key="subindex"
                        >
                          <div class="service-sublist-item-img">
                            <img :src="baseUrl + '/uploads/services/' + serviceimage.name " class="img-fluid" alt />
                          </div>
                          <div class="d-none service-sublist-item-content">
                            <div class="service-sublist-item-text">
                              <h5>{{serviceimage.name}}</h5>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="service-navigation fixed-bottom">
              <div class="d-flex justify-content-between align-items-center h-100">
                <div class="service-navigation-prev pl-5">
                  <div v-if="servicePrev">
                    <a href="#" @click.prevent="getServiceClick(servicePrev.slug)">{{ servicePrev.name }}</a>
                  </div>
                </div>
                <router-link :to="{name: 'TarumanegaraServices'}" class="service-navigation-center">Services</router-link>
                <div class="service-navigation-next pr-5">
                  <div v-if="serviceNext">
                    <a href="#" @click.prevent="getServiceClick(serviceNext.slug)">{{ serviceNext.name }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</template>

<script>

import axios from "axios";
import AOS from "aos";
import { mapState, mapGetter, mapActions } from 'vuex'
export default {
  name: "TarumanegaraService",
  data() {
    return {
      baseUrl: this.$baseUrl,
      setting: {
        name: null,
        description: null
      },
      apiurl:
        process.env.NODE_ENV === "development"
          ? "http://taruma.test"
          : "http://api.ekode.xyz/taruma",
      serviceImages: [],
      serviceRow: null,
      servicePrevRow: null,
      serviceNextRow: null,
    };
  },
  mounted() {
    this.getService();
    this.$store.watch(
      state => state.locale, () => {
        this.getServices(this.$store.getters.activeLocale);
      }
    )
  },
  computed: {
    service: function() {
      return this.serviceRow;
    },
    serviceNext: function() {
      return this.serviceNextRow;
    },
    servicePrev: function() {
      return this.servicePrevRow;
    },
    serviceImage: function() {
      return this.serviceImages;
    }
  },
  created() {
    AOS.init();
  },
  methods: {
    ...mapActions(['changeLocale']),
    getService: function(locale) {
      axios.get(this.apiurl + "/api/services/detail", {
        params: {
          'company' : 'bumiyasa',
          'slug' : this.$route.params.slug,
          'locale' : locale
        }
      })
      .then(response => {
        if (response.status == 200 && response.data.status) return response;
      })
      .then(response => {
        this.serviceRow = response.data.service;
        this.servicePrevRow = (response.data.prev_row) ? response.data.prev_row : false;
        this.serviceNextRow = (response.data.next_row) ? response.data.next_row : false;
        this.serviceImages = response.data.images;
      })
      .catch(e => {
        console.log(e);
      });
    },
    getServiceClick: (function(slug) {
      axios.get(this.apiurl + "/api/services/detail", {
        params: {
          'company' : 'bumiyasa',
          'slug' : slug,
          'locale' : this.$store.getters.activeLocale
        }
      })
      .then(response => {
        if (response.status == 200 && response.data.status) return response;
      })
      .then(response => {
        this.serviceRow = response.data.service;
        this.servicePrevRow = (response.data.prev_row) ? response.data.prev_row : false;
        this.serviceNextRow = (response.data.next_row) ? response.data.next_row : false;
        this.serviceImages = response.data.images;
      })
      .catch(e => {
        console.log(e);
      });
      this.$router.push({ path: `/bumiyasa/service/${slug}`});
    })
  }
};
</script>

<style lang="scss">
  .service {
    &-navigation {
      &-backto {
        font-weight: bold;
        color: #444;
        span {
          display: inline;
          padding-left: 1rem;
          text-decoration: underline;
          transition: all .5s;
        }
        &:hover {
          text-decoration: none;
          span {
            padding-left: 0;
            transition: all .5s;
          }
        }
      }
    }
  }
</style>