<template>
  <div class="page-container">
    <div class="container-fluid">
      <div class="row">
        <Navigation></Navigation>
        <main class="page-main page-news">
          <div class="news-banner">
            <div class="news-banner-wrapper h-100">
              <div
                class="news-banner-content align-items-center d-flex h-100 justify-content-center"
              >
                <h1>News</h1>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="row news-list">
                  <a href class="col-12 col-md-4 news-item">
                    <div class="news-item-thumbnail d-flex justify-content-center">
                      <img src="https://placeimg.com/640/360/arch" alt class="img-fluid" />
                    </div>
                    <div class="news-item-content">
                      <h4 class="news-item-title">Lorem ipsum dolor sit amet consectetur</h4>
                      <p
                        class="news-item-brief"
                      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio earum, repellat pariatur reiciendis blanditiis ipsum eius doloremque distinctio vero delectus! At sint</p>
                    </div>
                  </a>
                  <a href class="col-12 col-md-4 news-item">
                    <div class="news-item-thumbnail d-flex justify-content-center">
                      <img src="https://placeimg.com/640/360/arch" alt class="img-fluid" />
                    </div>
                    <div class="news-item-content">
                      <h4 class="news-item-title">Lorem ipsum dolor sit amet consectetur</h4>
                      <p
                        class="news-item-brief"
                      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio earum, repellat pariatur reiciendis blanditiis ipsum eius doloremque distinctio vero delectus! At sint</p>
                    </div>
                  </a>
                  <a href class="col-12 col-md-4 news-item">
                    <div class="news-item-thumbnail d-flex justify-content-center">
                      <img src="https://placeimg.com/640/360/arch" alt class="img-fluid" />
                    </div>
                    <div class="news-item-content">
                      <h4 class="news-item-title">Lorem ipsum dolor sit amet consectetur</h4>
                      <p
                        class="news-item-brief"
                      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio earum, repellat pariatur reiciendis blanditiis ipsum eius doloremque distinctio vero delectus! At sint</p>
                    </div>
                  </a>
                  <a href class="col-12 col-md-4 news-item">
                    <div class="news-item-thumbnail d-flex justify-content-center">
                      <img src="https://placeimg.com/640/360/arch" alt class="img-fluid" />
                    </div>
                    <div class="news-item-content">
                      <h4 class="news-item-title">Lorem ipsum dolor sit amet consectetur</h4>
                      <p
                        class="news-item-brief"
                      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio earum, repellat pariatur reiciendis blanditiis ipsum eius doloremque distinctio vero delectus! At sint</p>
                    </div>
                  </a>
                  <a href class="col-12 col-md-4 news-item">
                    <div class="news-item-thumbnail d-flex justify-content-center">
                      <img src="https://placeimg.com/640/360/arch" alt class="img-fluid" />
                    </div>
                    <div class="news-item-content">
                      <h4 class="news-item-title">Lorem ipsum dolor sit amet consectetur</h4>
                      <p
                        class="news-item-brief"
                      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio earum, repellat pariatur reiciendis blanditiis ipsum eius doloremque distinctio vero delectus! At sint</p>
                    </div>
                  </a>
                  <a href class="col-12 col-md-4 news-item">
                    <div class="news-item-thumbnail d-flex justify-content-center">
                      <img src="https://placeimg.com/640/360/arch" alt class="img-fluid" />
                    </div>
                    <div class="news-item-content">
                      <h4 class="news-item-title">Lorem ipsum dolor sit amet consectetur</h4>
                      <p
                        class="news-item-brief"
                      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio earum, repellat pariatur reiciendis blanditiis ipsum eius doloremque distinctio vero delectus! At sint</p>
                    </div>
                  </a>
                  <a href class="col-12 col-md-4 news-item">
                    <div class="news-item-thumbnail d-flex justify-content-center">
                      <img src="https://placeimg.com/640/360/arch" alt class="img-fluid" />
                    </div>
                    <div class="news-item-content">
                      <h4 class="news-item-title">Lorem ipsum dolor sit amet consectetur</h4>
                      <p
                        class="news-item-brief"
                      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio earum, repellat pariatur reiciendis blanditiis ipsum eius doloremque distinctio vero delectus! At sint</p>
                    </div>
                  </a>
                  <a href class="col-12 col-md-4 news-item">
                    <div class="news-item-thumbnail d-flex justify-content-center">
                      <img src="https://placeimg.com/640/360/arch" alt class="img-fluid" />
                    </div>
                    <div class="news-item-content">
                      <h4 class="news-item-title">Lorem ipsum dolor sit amet consectetur</h4>
                      <p
                        class="news-item-brief"
                      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio earum, repellat pariatur reiciendis blanditiis ipsum eius doloremque distinctio vero delectus! At sint</p>
                    </div>
                  </a>
                  <a href class="col-12 col-md-4 news-item">
                    <div class="news-item-thumbnail d-flex justify-content-center">
                      <img src="https://placeimg.com/640/360/arch" alt class="img-fluid" />
                    </div>
                    <div class="news-item-content">
                      <h4 class="news-item-title">Lorem ipsum dolor sit amet consectetur</h4>
                      <p
                        class="news-item-brief"
                      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio earum, repellat pariatur reiciendis blanditiis ipsum eius doloremque distinctio vero delectus! At sint</p>
                    </div>
                  </a>
                  <a href class="col-12 col-md-4 news-item">
                    <div class="news-item-thumbnail d-flex justify-content-center">
                      <img src="https://placeimg.com/640/360/arch" alt class="img-fluid" />
                    </div>
                    <div class="news-item-content">
                      <h4 class="news-item-title">Lorem ipsum dolor sit amet consectetur</h4>
                      <p
                        class="news-item-brief"
                      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio earum, repellat pariatur reiciendis blanditiis ipsum eius doloremque distinctio vero delectus! At sint</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- <div id="ssb">
            <smooth-scrollbar>
            </smooth-scrollbar>
          </div>-->
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import Navigation from "@/components/NavigationBuanatek";
import axios from "axios";
export default {
  name: "TarumanegaraNews",
  components: {
    Navigation
  },
  data() {
    return {
      newsList: null
    };
  }
};
</script>