<template>
  <div class="page-container">
    <div class="container-fluid">
      <div class="row">
        <navigation-buanatek />
        <main class="page-main page-project">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div data-aos="fade-up" class="page-header d-flex justify-content-md-center">
                  <h1>Project List</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="project-list">
                  <div
                    class="project-list-item"
                    v-for="(project, index) in projects"
                    :key="index"
                  >
                    <div class="row align-items-center">
                      <div class="col-sm-12 col-md-6">
                        <div class="row project-list-item-desc">
                          <div class="col-sm-12 col-md-8">
                            <div class="project-intro">
                              <div class="project-content">
                                <h2
                                  data-aos="fade-up"
                                  data-aos-delay="100"
                                >
                                  <router-link :to="{ name: 'BuanatekProjectDetail', params: {slug: project.slug} }">{{project.name}}</router-link>
                                </h2>
                                <p data-aos="fade-up" data-aos-delay="300">{{project.description}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div id="ssb">
            <smooth-scrollbar>
            </smooth-scrollbar>
          </div>-->
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import AOS from "aos";
export default {
  name: "TarumanegaraProjects",
  data() {
    return {
      baseUrl: this.$baseUrl,
      apiurl:
        process.env.NODE_ENV === "development"
          ? "http://taruma.test"
          : "http://api.ekode.xyz/taruma",
      projectList: null
    };
  },
  mounted() {
    this.getProjects();
  },
  computed: {
    projects: function() {
      return this.projectList;
    }
  },
  created() {
    AOS.init();

    this.getProjects();
  },
  methods: {
    getProjects: function() {
      axios.get(this.apiurl + "/api/projects", {
        params: {
          'company' : 'buanatek'
        }
      })
      .then(response => {
        if (response.status == 200 && response.data.status) return response;
      })
      .then(response => {
        this.projectList = response.data.projects;
      })
      .catch(e => {
        console.log(e);
      });
    }
  }
};
</script>

<style lang="scss">
  .project {
    &-content {
      a {
        color: #212529;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
</style>