<template>
  <div class="page-container">
    <div class="container-fluid">
      <div class="row">
        <navigation-buanatek />
        <main class="page-main page-project">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div data-aos="fade-up" class="page-header d-flex justify-content-md-center">
                  <h1>{{ project.name }}</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="table-responsive" v-if="projectLists">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Project Name</th>
                        <th>Client</th>
                        <th>Location</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(list, index) in projectList" :key="index">
                        <td>{{ list.name }}</td>
                        <td>{{ list.client }}</td>
                        <td>{{ list.location }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import AOS from "aos";
export default {
  name: 'TarumanegaraProjectDetail',
  data() {
    return {
      apiurl:
        process.env.NODE_ENV === "development"
          ? "http://taruma.test"
          : "http://api.ekode.xyz/taruma",
      projectLists: [],
      projectRow: null,
    };
  },
  mounted() {
    this.getProject();
  },
  computed: {
    project: function() {
      return this.projectRow;
    },
    projectList: function() {
      return this.projectLists;
    }
  },
  created() {
    AOS.init();

    this.getProject();
  },
  methods: {
    getProject: function() {
      axios.get(this.apiurl + "/api/projects/detail", {
        params: {
          'company' : 'buanatek',
          'slug' : this.$route.params.slug
        }
      })
      .then(response => {
        if (response.status == 200 && response.data.status) return response;
      })
      .then(response => {
        this.projectRow = response.data.projects.row;
        this.projectLists = response.data.projects.lists;
      })
      .catch(e => {
        console.log(e);
      });
    }
  }
}
</script>
<style lang="scss">
  .table {
    &-sm {
      th, td {
        font-size: .7em
      }
    }
  }
</style>