<template>
  <div class="page-container">
    <div class="container-fluid">
      <div class="row">
        <navigation-buanatek />
        <main class="page-main page-service">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div data-aos="fade-up" class="page-header d-flex justify-content-md-center">
                  <h1>Our Services</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="filter absolute">
                  <div class="align-items-start pl-0 pl-lg-5 title-container">
                    <div class="filters d-flex">
                      <div
                        class="filter"
                        v-bind:class="{ active: currentFilter === 'ALL' }"
                        v-on:click="setFilter('ALL')"
                      >ALL</div>
                      <div
                        v-for="(service, indexService) in services"
                        :key="indexService"
                        class="filter"
                        v-bind:class="{ active: currentFilter === service.slug }"
                        v-on:click="setFilter(service.slug)"
                      >{{service.name}}</div>
                    </div>
                  </div>

                  <transition-group class="projects" name="projects">
                    <div
                      class="project"
                      v-for="img in selectedServiceList"
                      v-bind:key="img.name"
                    >
                      <div class="project-image-wrapper">
                        <div class="project-image">
                          <img :src="baseUrl + '/uploads/services/' + img.name" />
                        </div>
                      </div>
                    </div>
                  </transition-group>
                </div>
              </div>
            </div>
          </div>
          <!-- <div id="ssb">
            <smooth-scrollbar>
            </smooth-scrollbar>
          </div>-->
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import AOS from "aos";
import { mapState, mapGetter, mapActions } from 'vuex'
export default {
  name: "TarumanegaraServices",
  data() {
    return {
      baseUrl: this.$baseUrl,
      apiurl:
        process.env.NODE_ENV === "development"
          ? "http://taruma.test"
          : "http://api.ekode.xyz/taruma",
      targetHref: "_blank",
      currentFilter: "ALL",
      servicesList: [],
      imagesList: [],
    };
  },
  mounted() {
    this.$store.watch(
      state => state.locale, () => {
        this.getServices(this.$store.getters.activeLocale);
      }
    )
  },
  computed: {
    selectedServiceList: function() {
      if (this.currentFilter !== "ALL") {
        console.log(this.currentFilter)
        return this.imagesList.filter(
          c =>  this.currentFilter === c.slug
        );
      } else return this.imagesList;
    },
    services: function() {
      return this.servicesList;
    },
    images: function() {
      return this.imagesList;
    }
  },
  methods: {
    ...mapActions(['changeLocale']),
    getServices: function(locale) {
      axios.get(this.apiurl + "/api/services", {
        params: {
          'company' : 'buanatek',
          'locale' : locale
        }
      })
      .then(response => {
        if (response.status == 200 && response.data.status) return response;
      })
      .then(response => {
        this.servicesList = response.data.services;
        this.imagesList = response.data.images;
      })
      .catch(e => {
        console.log(e);
      });
    },
    setFilter: function(filter) {
      this.currentFilter = filter;
    }
  },
  created() {
    AOS.init();

    this.getServices(this.$store.getters.activeLocale);
  }
};
</script>

<style lang="scss">
  .filter.absolute {
    .project-image {
      position: relative;
      width: 352px;
      padding-top: 56.25%;
      overflow: hidden;
      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: auto;
      }
    }
  }

</style>