<template>
  <div class="page-container">
    <div class="container-fluid">
      <div class="row">
        <navigation-buanatek />
        <main class="page-main page-team">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div data-aos="fade-up" class="page-header d-flex justify-content-md-center">
                  <h1>Our Team</h1>
                </div>
              </div>
            </div>
            <div v-for="(division, index) in listdivisions" :key="index">
              <div class="row">
                <div class="col-sm-12">
                  <div data-aos="fade-up" data-aos-delay="300" class="page-header board text-center">
                    <h2>{{ division.name }}</h2>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="teamlist-board flex-column flex-lg-row" data-aos="fade-up" data-aos-delay="600">
                    <div 
                      v-for="(team, indexteam) in division.teams" 
                      :key="indexteam" 
                      class="teamlist-boarditem"
                      data-aos="fade-up"
                      data-aos-delay="100"
                    >
                      <div class="teamlist-boarditem-wrapper">
                        <div class="teamlist-boarditem-image">
                          <img :src="baseUrl + '/uploads/teams/' + team.image" alt class="img-fluid" />
                        </div>
                        <div class="teamlist-boarditem-content align-items-center d-flex flex-column justify-content-between">
                          <div
                            class="h3 d-flex align-items-center"
                          >{{ team.name }}</div>
                          <p>{{ team.role }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div id="ssb">
            <smooth-scrollbar>
            </smooth-scrollbar>
          </div>-->
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import Navigation from "@/components/NavigationBuanatek";
import axios from "axios";
import AOS from "aos";
export default {
  name: "TarumanegaraTeam",
  components: {
    Navigation
  },
  data() {
    return {
      baseUrl: this.$baseUrl,
      apiurl:
        process.env.NODE_ENV === "development"
          ? "http://taruma.test"
          : "http://api.ekode.xyz/taruma",
      divisions: [],
      teamDivision: [],
      teamSupports: null
    };
  },
  computed: {
    listdivisions: function() {
      return this.teamDivision;
    }
  },
  created() {
    AOS.init();
    
    this.getDivisions();
  },
  methods: {
    getDivisions: function() {
      axios.get(this.apiurl + "/api/teams", {
        params: {
          'company' : 'buanatek'
        }
      })
      .then(response => {
        if (response.status == 200) return response;
      })
      .then(response => {
        this.teamDivision = response.data.division;
      })
      .catch(e => {
        console.log(e);
      });
    }
  }
};
</script>
